*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    background-color: #522d0e;
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header{
    align-items: center;
    font-size: 3rem;
    word-spacing: 3px;
}
.ships{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.ship{
    display: flex;
    cursor: pointer;
    justify-content: center;
    
}
.shipField{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    border-left: none;

}
.shipField:nth-of-type(1){
    border-left: 2px solid blue; 
}
.ship-vertical{
    flex-direction: column;
}
.ship-vertical .shipField{
    border: 2px solid blue;
    border-top: none;
}
.ship-vertical .shipField:first-child{
    border-top: 2px solid blue;
}


.sea{
    width: 80vw;
    background-image: linear-gradient(rgba(100,100,100,0.4), rgba(150,150,150,0.4)),url(../images/sea.jpg);
    border: black solid 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}
.player-board,
.pc-board{
    z-index: 1;
    position: relative;
    padding: 2rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    align-items: center;
    justify-items: center;
    color: white;
}
.player-board::before,
.pc-board::before{
    z-index: -1;
    position: absolute;
    inset: 2rem;
    content: "";
    background-color: rgb(255, 255, 255,0.3);
    
}
.field,
.pc-field{
    box-shadow: inset 2px 0 white, inset -2px 0 black, inset 0 2px white, inset 0 -2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.pc-field:hover{
    background-color: burlywood;
    
}
span.hit,
span.miss{
    font-size: 2rem;
    font-weight: bold;
    pointer-events: none;
    margin-bottom: 8px;
    margin-left: 1px;
}
.hit{
    color: red;
}
.miss{
    color: black;
}

.picked{
    background-color: navy;
}

.shipPlaced{
    background-color: navy;
}

.flex-options{
    display: flex;
    justify-content: end;
    width: 80vw;
    gap: 1rem;
}
.random{
    padding: 0.5rem;
    color: white;
    background-color: navy;
    border: 1px solid lightblue;
    border-radius: 1rem;
    cursor: pointer;
}
.change{
    cursor: pointer;;
    padding: 0.5rem;
    color: white;
    border: 1px solid lightblue;
    background-color: navy;
    border-radius: 1rem;
    width: 50px;
    height: 40px;
}
#img{
    color: white;
    width: 100%;
    height: 100%;
    filter: invert(100%)
}
.change:hover,
.random:hover{
    background-color: rgb(59, 59, 240);
}

.used{
    background-color: navy;
    cursor: not-allowed;
    opacity: 0.5;
}